.nav {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;
    margin-top: 25px;
}


.nav h2 {
    font-size: 33px;
    font-weight: 800;
    color: #3F6745;

}

.link {
    text-decoration: none;
}

.nav input {
    width: 40%;
    padding: 7px 15px;
    border: 2px solid black;
    border-radius: 4px;
    outline: none;
    font-family: 'Inter', sans-serif;
    background-color: #eeeeee;
    color: black;

}

.profile {
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.centerProfile {
    width: 50px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logOutBtn {
    padding: 10px 20px;
    background-color: grey;
    color: black;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    font-family: "Inter";
}

.profile img {
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .nav h2 {
        font-size: 20px;


    }

    .nav {
        width: 95%;
        margin-top: 10px;

    }

    .profile img {
        height: 70%;

    }

    .profile {
        width: 25%;
    }

    .logOutBtn {
        padding: 10px 10px;

        font-size: 8px;

    }
}